<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="padding-top: 5px; color: white" >
                    <li>
                        <button class="CityAirline">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            @Html.ActionLink("CityAirline", "Index", "Home", null, new { @style = "color: #88ffe2; text-decoration: none " })
                        </button>
                    </li>
                    <li>
                        <button class="Links">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            @Html.ActionLink("Главная", "Index", "Home", null, new { @style = "color: white; text-decoration: none " })
                        </button>
                    </li>
                    <li>
                        <button class="Links">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            @Html.ActionLink("Клиенты", "Index", "Clients", null, new { @style = "color: white; text-decoration: none " })
                        </button>
                    </li>
                    <li>
                        <button class="Links">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            @Html.ActionLink("Заявки", "Index", "ApplicationForTheConditionOfTheAircrafts", null, new { @style = "color: white; text-decoration: none " })
                        </button>
                    </li>
                    <li>
                        <button class="Links">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            @Html.ActionLink("Расписание", "Index", "Schedules", null, new { @style = "color: white; text-decoration: none " })
                        </button>
                    </li>
                    <li>
                        <button class="Links">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            @Html.ActionLink("Сотрудники", "Index", "Stuffs", null, new { @style = "color: white; text-decoration: none " })
                        </button>

                    </li>
                    <li>
                        <button class="Links">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            @Html.ActionLink("Контрагенты", "Index", "Suppliers", null, new { @style = "color: white; text-decoration: none " })
                        </button>
                    </li>
                    <li>
                        <button class="Links">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            @Html.ActionLink("Самолёты", "Index", "Planes", null, new { @style = "color: white; text-decoration: none " })
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <footer class="Footer">
            <div class="SomeLinksFooter">
                <a href="https://vk.com/vladryaboy"> VK </a>
                <a href="https://www.youtube.com"> YouTube</a>
                <a href="https://www.instagram.com"> Instagram </a>
                <a href="https://www.facebook.com"> FaceBook </a>
                <a href="https://twitter.com"> Twitter </a>
                <a href="https://t.me/stickerus"> Telegram </a>
            </div>
            <div class="SomeInfoFooter">
                <a>&nbsp; О нас &nbsp;</a> *
                <a>&nbsp; Реклама &nbsp;</a> *
                <a>&nbsp; Помощь &nbsp;</a> *
                <a>&nbsp; Партнерская программа &nbsp;</a> *
                <a>&nbsp; Правила &nbsp;</a>
            </div>
            <div class="SomeTextFooter">
                <p class="Text">&copy; @DateTime.Now.Year - CityAirline - это ваш сервис</p>

            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>