@model MyFirstMVC.Models.Suppliers

@{
    ViewBag.Title = "Details";
}

<h2 class="PageTitle">Контрагент №@Html.DisplayFor(model => model.SupplierID)</h2>

<div class="PageTitle">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Компания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            ID Представителя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresentativeID)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresentativeSurname)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresentativeName)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresentativePatronymic)
        </dd>

        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresentativeNumber)
        </dd>

        <dt>
            Почта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepresentativeEmail)
        </dd>

    </dl>
</div>
<p style="color:white">
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.SupplierID }, new { @class = "CRUDBtns" }) или вернуться
    @Html.ActionLink("Назад", "Index",null, new { @class = "CRUDBtns" })?
</p>
