@model IEnumerable<MyFirstMVC.Models.Suppliers>

@{
    ViewBag.Title = "Index";
}

<h2 class="PageTitle">Контрагенты</h2>

<p style="font-style:italic">
    @Html.ActionLink("Добавить контрагента", "Create", null, new { @class = "CRUDBtns" })
</p>
<table >
    <tr  class="TextSlots">
        <th>
            Компания
        </th>
        <th>
            ID Представителя
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Имя
        </th>
        <th>
            Отчества
        </th>
        <th>
            Телефон
        </th>
        <th>
            Почта
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="AllSlots">
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativeSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativePatronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativeEmail)
        </td>
        <td>
            <table>
                @for (int i = 0; i < 3; i++)
                {
                    <tr>
                        @if (i == 0)
                        {
                            <th>
                                @Html.ActionLink("Редактировать контрагента", "Edit", new { id = item.SupplierID }, new { @class = "CRUDBtns" })
                            </th>
                        }
                        else if (i == 1)
                        {
                            <th>
                                @Html.ActionLink("Подробнее о контрагенте", "Details", new { id = item.SupplierID }, new { @class = "CRUDBtns" })
                            </th>
                        }
                        else
                        {
                            <th>
                                @Html.ActionLink("Удалить контрагента", "Delete", new { id = item.SupplierID }, new { @class = "CRUDBtns" })
                            </th>
                        }
                    </tr>
                }
            </table>
        </td>
    </tr>
}

</table>
