@model MyFirstMVC.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2 class="PageTitle">Рейс №@Html.DisplayFor(model => model.ScheduleID)</h2>

<div class="PageTitle">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Откуда
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfDeparture)
        </dd>

        <dt>
            Куда
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfArrival)
        </dd>

        <dt>
            Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Продано билетов
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTicketsPurchased)
        </dd>

        <dt>
            Всего
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTickets)
        </dd>

    </dl>
</div>
<p style="color:white">
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ScheduleID }, new { @class = "CRUDBtns" }) или вернуться
    @Html.ActionLink("Назад", "Index", null, new { @class = "CRUDBtns" })?
</p>
