@model IEnumerable<MyFirstMVC.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2 class="PageTitle">Расписание рейсов</h2>

<p style="font-style:italic">
    @Html.ActionLink("Новый рейс", "Create", null, new { @class = "CRUDBtns" })
</pstyle="font-style:italic">
<table>
    <tr class="TextSlots">
        <th>
            Откуда
        </th>
        <th>
            Куда
        </th>
        <th>
            Дата
        </th>
        <th>
            Куплено билетов
        </th>
        <th>
            Всего
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="AllSlots">
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTicketsPurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTickets)
            </td>
            <td>
                <table>
                    @for (int i = 0; i < 3; i++)
                    {
                        <tr>
                            @if (i == 0)
                            {
                                <th>
                                    @Html.ActionLink("Редактировать рейс", "Edit", new { id = item.ScheduleID }, new { @class = "CRUDBtns" })
                                </th>
                            }
                            else if (i == 1)
                            {
                                <th>
                                    @Html.ActionLink("Подробнее о рейсе", "Details", new { id = item.ScheduleID }, new { @class = "CRUDBtns" })
                                </th>
                            }
                            else
                            {
                                <th>
                                    @Html.ActionLink("Удалить рейс", "Delete", new { id = item.ScheduleID }, new { @class = "CRUDBtns" })
                                </th>
                            }
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
