@model IEnumerable<MyFirstMVC.Models.Plane>

@{
    ViewBag.Title = "Index";
}

<h2 class="PageTitle">Парк самолётов</h2>

<p style="font-style:italic">
    @Html.ActionLink("Добавить самолёт", "Create", null, new { @class = "CRUDBtns" })
</p>
<table >
    <tr class="TextSlots">
        <th>
            Название
        </th>
        <th>
            Модель
        </th>
        <th>
            Кол-во мест
        </th>
        <th>
            Шт. в парке
        </th>
        <th>
            Тип
        </th>
        <th>
            Длина
        </th>
        <th>
            Размах крыльев
        </th>
        <th>
            Круизная скорость
        </th>
        <th>
            Макс. выс. полёта
        </th>
        <th>
            Макс. дист. полёта
        </th>
        <th>
            Контрагент
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="AllSlots">
            <td>
                @Html.DisplayFor(modelItem => item.PlaneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfUnitsInThePark)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wingspan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CruisingSpeed)
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumFlightAltitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumFlightRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers.Company)
            </td>
            <td>
                <table>
                    @for (int i = 0; i < 3; i++)
                    {
                        <tr>
                            @if (i == 0)
                            {
                            <th>

                                @Html.ActionLink("Редактировать самолёт", "Edit", new { id = item.PlaneID }, new { @class = "CRUDBtns" })
                            </th>
                            }
                            else if (i == 1)
                            {
                                <th>
                                    @Html.ActionLink("Подробнее о самолёте", "Details", new { id = item.PlaneID }, new { @class = "CRUDBtns" })
                                </th>
                            }
                            else
                            {
                                <th>
                                    @Html.ActionLink("Удалить самолёт", "Delete", new { id = item.PlaneID }, new { @class = "CRUDBtns" })
                                </th>
                            }
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }

</table>
