@model MyFirstMVC.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2 class="PageTitle">Удаление клиента №@Html.DisplayFor(model => model.ClientID)</h2>

<div class="PageTitle">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            Пол
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            Документ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>

        <dt>
            Дата регистрации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            Дата рождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthdayDate)
        </dd>

        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Почта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Тип клиента
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientType.TypeOfClient)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="color:white">
            <input type="submit" value="Удалить" class="SaveBtn" /> или вернуться 
            @Html.ActionLink("Назад", "Index", null, new { @class = "CRUDBtns" })?
        </div>
    }
</div>
