@model IEnumerable<MyFirstMVC.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2 class="PageTitle">Клиенты</h2>

<p style="font-style:italic">
    @Html.ActionLink("Новый клиент", "Create", null, new { @class = "CRUDBtns" })
</p>
<table>
    <tr class="TextSlots">
        <th>
            Фамилия
        </th>
        <th>
            Имя
        </th>
        <th>
            Отчество
        </th>
        <th>
            Пол
        </th>
        <th>
            Документ
        </th>
        <th>
            Дата регистрации
        </th>
        <th>
            Дата рождения
        </th>
        <th>
            Телефон
        </th>
        <th>
            Почта
        </th>
        <th>
            Тип
        </th>
    </tr>

@foreach (var item in Model) {
<tr class="AllSlots">
    <td>
        @Html.DisplayFor(modelItem => item.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Patronymic)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Document)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RegistrationDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirthdayDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClientType.TypeOfClient)
    </td>
    <td>
        <table>
            @for (int i = 0; i < 3; i++)
            {
                <tr>
                    @if (i == 0)
                    {
                        <th>
                            @Html.ActionLink("Редактировать клиента", "Edit", new { id = item.ClientID }, new { @class = "CRUDBtns" })
                        </th>
                    }
                    else if (i == 1)
                    {
                        <th>
                            @Html.ActionLink("Подробнее о клиенте", "Details", new { id = item.ClientID }, new { @class = "CRUDBtns" })
                        </th>
                    }
                    else
                    {
                        <th>
                            @Html.ActionLink("Удалить клиента", "Delete", new { id = item.ClientID }, new { @class = "CRUDBtns" })
                        </th>
                    }
                </tr>
            }
        </table>
    </td>
</tr>
}

</table>
